<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378593131232-35vbu5grs7tj7716fp0r7679s0vugi78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378593131232-35vbu5grs7tj7716fp0r7679s0vugi78</string>
	<key>API_KEY</key>
	<string>AIzaSyAUsjVYGu6bNy_2Wm5I4Fm4xfaoiwt_FkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>378593131232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tesFlutter</string>
	<key>PROJECT_ID</key>
	<string>tes-flutter-cd0c7</string>
	<key>STORAGE_BUCKET</key>
	<string>tes-flutter-cd0c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378593131232:ios:72077451e1269cbe172e85</string>
</dict>
</plist>